.article_detail {
	padding: 1rem;
	padding-top: 5rem;

	.article_wrapper {
		padding: 1rem;

		.bg {
			margin-top: 1rem;
			width: 100%;
			border-radius: 0.6rem;
		}

		.bg_pic {
			border: 1px solid $divider;
			box-shadow: $small_shadow;

			@extend .bg;
		}

		.bg_skeleton {
			height: 36rem;
			background: $background_variant;

			@extend .bg;
		}

		.info {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			height: 5rem;

			> div:first-child {
				> span {
					margin-right: 3rem;
					color: $text_secondary;
					font-size: 1.3rem;
				}
			}

			.tags_wrapper {
				display: flex;

				> div {
					margin-left: 2rem;
				}
			}
		}

		.content_skeleton {
			position: relative;
			display: flex;
			overflow: hidden;
			flex-direction: column;
			padding-top: 2rem;
			width: 100%;
			background: $background;

			> div {
				margin-bottom: 2.4rem;
				height: 2.4rem;
			}

			> .heading {
				height: 3.2rem;
				transform: translateX(-60%);
			}

			> .content1 {
				transform: translateX(10%);
			}
			> .content2 {
				width: 95%;
			}
			> .content3 {
				margin-bottom: 0;
				transform: translateX(-50%);
			}
		}
	}
}
