@use 'src/assets/styles/variables' as *;
@use 'src/assets/styles/mixins' as *;
@use 'common' as *;

$highlight: getTheme('highlight');
$divider: getColor('light', 'divider');
$shadow: 1px 4px 24px rgba(#000000, 0.1);

.article_info {
  position: relative;
  padding: 1rem;
  padding-top: 4rem;
  width: 36rem;
  border: 1px solid $divider;
  border-radius: 1rem;
  background: getColor('light', 'background');
  box-shadow: $shadow;

  @include withTitle;
  @include withClose;

  .pic_wrapper {
    position: relative;
    z-index: 1;
    width: 16rem;
    height: 10rem;
    border-radius: 6px;
    box-shadow: $shadow;
    cursor: pointer;

    .pic_cover {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      color: #fff;
      font-size: 3rem;

      @include flexCenter;
      &:hover {
        backdrop-filter: blur(24px);
      }
    }

    .title_pic {
      width: 100%;
      height: 100%;
      border-radius: inherit;
      vertical-align: text-top;

      object-fit: cover;
    }
  }

  .add {
    margin-top: 1rem;
  }
}
