@import 'common';

$highlight: get_theme('primary');
$divider: get_color('light', 'divider');

.article_info {
	position: relative;
	padding: 1rem;
	padding-top: 5rem;
	width: 36rem;
	border: 1px solid $divider;
	border-radius: 0.6rem;
	background: get_color('light', 'background');
	box-shadow: $default_shadow;

	@include with_title;
	@include with_close;

	.pic_wrapper {
		position: relative;
		z-index: 1;
		width: 16rem;
		height: 10rem;
		border-radius: 0.6rem;
		box-shadow: $default_shadow;
		cursor: pointer;

		.pic_cover {
			position: absolute;
			width: 100%;
			height: 100%;
			border-radius: inherit;
			color: #fff;

			@include flex_center;
			> svg {
				font-size: 4rem;
			}
			&:hover {
				backdrop-filter: blur(24px);
			}
		}

		.title_pic {
			width: 100%;
			height: 100%;
			border-radius: inherit;
			vertical-align: text-top;

			object-fit: cover;
		}
	}

	.sort {
		width: 16rem;
	}

	.add {
		margin-top: 2rem;
		margin-bottom: 1rem;
	}
}
