.account {
	@include use_themes('.btn') {
		border: 1px solid $highlight;
		background: #fff;
		&:hover {
			background: #f8f8f8;
		}
	}
	@include use_themes('.avatar_wrapper') {
		display: flex;
		align-items: center;
		cursor: pointer;

		> img {
			width: 6rem;
			height: 6rem;
			border: 2px solid transparent;
			border-radius: 50%;
			vertical-align: text-top;
			transition: border-color $normal;

			object-fit: cover;

			&:hover {
				border: 2px solid $highlight;
			}
		}
	}

	.username_wrapper {
		display: flex;
		align-items: center;

		> span {
			margin-right: 3rem;
			font-weight: 500;
		}
	}

	@media screen and (max-width: $breakpoint_small) {
		.username_wrapper {
			> span {
				margin-right: 1rem;
			}
			button {
				max-width: 8rem;
			}
		}
	}
}
