.account {
	@include use_themes('.btn') {
		border: 1px solid $highlight;
		background: #fff;
		&:hover {
			background: #f8f8f8;
		}
	}

	.username_wrapper {
		display: flex;
		align-items: center;

		> span {
			margin-right: 3rem;
			font-weight: 500;
		}
	}

	.avatar_wrapper {
		display: flex;
		align-items: center;

		> img {
			margin-right: 2rem;
			width: 5rem;
			height: 5rem;
			border-radius: 50%;
			vertical-align: text-top;

			object-fit: cover;
		}
	}
}
