.account {
	@include use_themes('.btn') {
		border: 1px solid $highlight;
		background: #fff;
		color: $highlight;
	}

	.username_wrapper {
		display: flex;
		align-items: center;

		> span {
			margin-right: 2rem;
		}
	}

	> li {
		&.profile {
			padding: 1rem 2rem;
			height: 8rem;
		}
		&.description {
			height: 6rem;

			textarea {
				resize: none;
				transform: translateY(-0.5rem);
			}
		}
	}

	.avatar_wrapper {
		display: flex;
		align-items: center;

		> img {
			margin-right: 2rem;
			width: 5rem;
			height: 5rem;
			border-radius: 50%;
			vertical-align: text-top;

			object-fit: cover;
		}
	}
}
