@include use_themes('.banner') {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 1rem 4rem 1rem;
	padding: 0 2rem;
	height: 4rem;
	border-radius: 0.6rem;
	background: $highlight;
	box-shadow: $default_shadow;
	color: $background;

	> span {
		font-weight: 500;
	}

	> div {
		cursor: pointer;

		@include flex_center;

		> span {
			margin-right: 1rem;
			font-weight: 500;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
