@import 'options';
@import 'account';
@import 'banner';

.setting_page {
	padding-top: 6rem;
	background: $background_variant;

	.form {
		justify-content: unset;
		height: unset;
	}

	> div:first-child {
		padding: 1rem;
		width: 64rem;
		border-radius: 0.6rem;
	}
}
