.options {
	margin-bottom: 3rem;
	width: 100%;

	> h1 {
		margin-top: 0;
		margin-bottom: 2rem;
		color: $text_primary;
		font-size: 1.6rem;
	}

	.container {
		padding: 0 2rem;
		min-height: 3rem;
		border: 1px solid $divider;
		border-radius: 0.6rem;
		background: $background;
		box-shadow: $small_shadow;

		.list_item {
			display: flex;
			justify-content: space-between;
			padding: 1.6rem 0;

			@include use_themes('.icon') {
				margin-right: 2rem;
				color: $highlight;
				font-size: 2rem;
			}

			> span:first-child {
				display: inline-flex;
				align-items: center;
			}

			.form_item {
				margin: 0;
			}
		}
	}
}
