@import 'common';

$divider: $divider;

.login_wrapper {
	position: relative;
	padding: 1rem;
	width: 34rem;
	border: 1px solid $divider;
	border-radius: 0.6rem;
	background: $background;
	box-shadow: $default_shadow;

	@include with_title;
	@include with_close;

	.avatar_wrapper {
		height: 12rem;

		@include flex_center;

		> img {
			width: 7rem;
			height: 7rem;
			border-radius: 50%;
		}
	}

	.footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem 2rem 2rem 0;
		width: 100%;

		@include use_themes('.go_register') {
			margin-left: 4rem;
			color: $text_secondary;
			text-decoration: underline;
			font-size: 1.3rem;
			cursor: pointer;
			transition: color $normal;

			&:hover {
				color: $highlight;
			}
		}
	}
}
