@import 'common';

$divider: $divider;

.profile_wrapper {
	width: 100%;
	border-radius: inherit;
	background: $background;

	@include with_title;
	@include with_close;
	@include with_return;

	.avatar_wrapper {
		position: relative;
		overflow: hidden;
		margin-bottom: 1.6rem;
		border-radius: 50%;
		cursor: pointer;

		@include flex_center;

		> img {
			width: 8rem;
			height: 8rem;
			border-radius: inherit;
			vertical-align: text-top;

			object-fit: cover;
		}

		> .upload_cover {
			position: absolute;
			width: 8rem;
			height: 8rem;
			border-radius: inherit;
			color: #fff;

			@include flex_center;
			> svg {
				font-size: 4rem !important;
			}
			&:hover {
				backdrop-filter: blur(24px);
			}
		}
	}
	.footer_bar {
		display: flex;
		justify-content: center;
		width: 100%;
	}
}
