@import 'common';

$highlight: get_theme('primary');
$divider: get_color('light', 'divider');

.register_wrapper {
	position: relative;
	padding: 1rem;
	padding-top: 7rem;
	width: 34rem;
	border: 1px solid $divider;
	border-radius: 0.6rem;
	background: get_color('light', 'background');
	box-shadow: $default_shadow;

	@include with_title;
	@include with_close;
	@include with_return;

	.footer_bar {
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		padding: 1rem 2rem;
		width: 100%;
	}
}
