@import 'common';

.register_wrapper {
	width: 100%;
	border-radius: inherit;
	background: $background;

	@include with_title;
	@include with_close;
	@include with_return;

	.footer_bar {
		display: flex;
		flex-flow: row-reverse;
		width: 100%;
	}
}
