@import 'common';

.register_wrapper {
	position: relative;
	padding: 4rem;
	padding-top: 7rem;
	width: 38rem;
	border: 1px solid $divider;
	border-radius: 0.6rem;
	background: $background;

	@include with_title;
	@include with_close;
	@include with_return;

	.footer_bar {
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		padding-top: 2rem;
		width: 100%;
	}
}
