.not_found_page {
	@include flex_center;

	> .prompt {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-between;
		width: 32rem;
		height: 12rem;

		> .operation {
			display: flex;
			justify-content: space-between;
			width: 60%;

			> .go_back {
				background: get_color('light', 'background');
				box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);

				&:hover {
					background: get_color('light', 'backgroundVariant');
				}
			}
		}
	}
}
