@mixin with_title {
	> h1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		text-align: center;
		transform: translateY(-10rem);
	}
}

@mixin with_close {
	.close {
		position: absolute;
		top: 1rem;
		right: 1rem;

		> svg {
			font-size: 2rem;
		}
	}
}

@mixin withReturn {
	.return {
		position: absolute;
		top: 1rem;
		left: 1rem;
		font-size: 1.5rem;

		> svg {
			font-size: 2rem;
		}
	}
}
