@import 'common';

$highlight: getTheme('highlight');
$divider: getColor('light', 'divider');
$shadow: 1px 4px 24px rgba(#000000, 0.1);

.register_wrapper {
	position: relative;
	padding: 1rem;
	padding-top: 6rem;
	width: 33rem;
	border: 1px solid $divider;
	border-radius: 1rem;
	background: getColor('light', 'background');
	box-shadow: $shadow;

	@include withTitle;
	@include withClose;
	@include withReturn;

	.footer_bar {
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		padding-right: 1rem;
		padding-bottom: 1rem;
		width: 100%;
	}
}
