@include use_themes('.article_stats_panel') {
	cursor: default;
	.item {
		border-radius: 0;
		color: $text_secondary;

		&.actived {
			color: $highlight;
		}

		svg:first-child {
			margin-right: 2rem;
			font-size: 2rem;
		}

		strong {
			margin-left: 0.5rem;
		}

		&:nth-child(1),
		&:nth-child(2) {
			cursor: pointer;
		}
	}
}
