@include use_themes('.article_stats_panel') {
	cursor: pointer;

	.item {
		color: $text_secondary;

		&.actived {
			color: $highlight;
		}
	}

	svg:first-child {
		margin-right: 2rem;
		font-size: 2rem;
	}
}
