.app_center {
	position: absolute;
	top: 5rem;
	right: 2rem;
	padding: 0;
	min-height: 0;
	width: 30rem;
	border: 1px solid $divider;
	border-radius: 0.6rem;

	.tab {
		padding: 2rem;
	}
}

@media screen and (max-width: $breakpoint_small) {
	.app_center {
		right: 1rem;
		width: calc(100vw - 4rem);
	}
}
