.header {
	position: fixed;
	top: 0;
	z-index: $z_header;
	display: flex;
	align-items: center;
	padding: 0 1rem 0 8rem;
	width: 100%;
	height: 5rem;
	border-bottom: 1px solid $divider;
	background: $background;

	@include glass;

	> .drawer_control {
		position: absolute;
		left: 2rem;
	}

	@media screen and (max-width: $breakpoint_small) {
		> .drawer_control {
			left: 1rem;
		}
	}

	> .tool_bar {
		position: absolute;
		right: 1rem;
		display: flex;
		align-items: center;

		> .btn {
			position: relative;
			margin-right: 1rem;

			> svg {
				font-size: 2rem;
			}
		}

		> .go_login {
			margin-left: 1rem;
			@extend.btn;
		}
	}
}
