.user_avatar {
	position: relative;
	margin-right: 1rem;
	min-height: 0;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	transition: border $normal;

	> img {
		z-index: 1;
		width: calc(100% - 0.8rem);
		height: calc(100% - 0.8rem);
		border-radius: inherit;
		vertical-align: text-top;

		object-fit: cover;
	}
}

.user_profile {
	position: absolute;
	top: 5rem;
	right: 2rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 2rem;
	min-height: 0;
	width: 32rem;
	border-radius: 0.4rem;
	box-shadow: $middle_shadow;

	@media screen and (max-width: $breakpoint_sm) {
		right: 1rem;
		width: calc(100vw - 4rem);
	}

	.large_avatar {
		> img {
			width: 8rem;
			height: 8rem;
			border-radius: 50%;
			vertical-align: text-top;

			object-fit: cover;
		}
	}

	> h3 {
		margin-bottom: 0.5rem;
	}

	> span {
		color: $text_secondary;
	}

	.divider {
		margin: 1.6rem 0;
	}
}
