@use 'src/assets/styles/variables' as *;

.user_profile {
  top: 6rem;
  right: 3rem;
  padding: 1rem;
  min-height: 0;
  width: 28rem;
  height: 32rem;
  border: 1px solid getColor('light', 'divider');
}
