@import './menu.scss';

$border: 1px solid get_color('light', 'divider');
$siderWidth: 24rem;

.sider {
	position: fixed;
	left: 0;
	z-index: $z_sider;
	width: $siderWidth;
	height: 100vh;
	border-right: $border;
	background: get_color('light', 'background');
	transition: transform $normal ease-out;
	transform: translateX(-$siderWidth);

	&.in {
		transform: translateX(0);
	}

	> .top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 1rem;
		padding: 0 1rem 0 2.4rem;
		height: 5rem;
		border-bottom: $border;

		> .drawer_control {
			position: absolute;
			right: 1rem;

			> svg {
				font-size: 2rem;
			}
		}
	}
}
