@import 'aspectRatio.scss';

.panel {
	min-height: 20rem;
	width: 100%;
	border: 1px solid get_color('light', 'divider');
	border-radius: 6px;
	background: get_color('light', 'background');
}

.affix {
	position: sticky;
	top: 7rem;
}

.uploader {
	> input {
		display: none;
	}
}
