.not_found_page {
	background: $background;

	@include flex_center;

	> .prompt {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-between;
		height: 12rem;

		> .operation {
			display: flex;
			justify-content: space-between;

			> button:first-child {
				margin-right: 4rem;
			}
		}
	}
}
