@use 'responsive';
@use 'link';
@use 'variables' as *;

@font-face {
  font-family: 'Roboto Mono';
  src: url('../fonts/RobotoMono-Regular.ttf');
}

#app {
  box-sizing: border-box;
  color: getColor('light', 'textPrimary');
  text-align: center;
  font-family: SF Pro Text, SF Pro Icons, PingFang SC, Helvetica, Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  code {
    font-family: Menlo, Consolas, SF mono, Monaco, 'Courier New', monospace;
  }
}
