@use 'src/assets/styles/variables' as *;
@use 'src/assets/styles/mixins' as *;

.home_page {
  padding: 1rem;

  .article_list {
    display: flex;
    flex-flow: wrap;
    margin-top: 1rem;
    width: 100%;
  }
}
