@mixin code_base {
	font-size: 1.3rem !important;
	font-family: SF Mono, Menlo !important;
	line-height: 1.75em !important;
}

@include use_themes('.markdown_wrapper') {
	p,
	ul > li,
	ol > li {
		line-height: 2em;
	}

	a {
		color: $highlight !important;
		font-weight: 500;

		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline !important;
			}
		}
	}

	code {
		@include code_base;
	}

	p > code {
		margin: 0 0.2rem;
		padding: 0.2rem 0.4rem;
		border: 1px solid $divider;
		border-radius: 0.6rem;
		background: $background_variant;

		@include code_base;
	}

	.copy_btn {
		position: absolute;
		top: 1rem;
		right: 1rem;
		z-index: 1;
		height: 0;
		color: $text_secondary;
		font-size: 1.5rem;
		cursor: pointer;
		transition: color $fast;

		@media (any-hover: hover) {
			&:hover {
				color: $text_primary;
			}
		}

		> span:last-child {
			font-size: 0;
			opacity: 0;
		}
	}

	.code_wrapper {
		position: relative;
		display: block;
		overflow-x: auto;
		padding: 2rem;
		max-height: 70rem;
		border: 1px solid $divider;
		border-radius: 0.6rem;
		background: #fcfcfc;
	}

	.blockquote {
		padding: 2rem;
		border-left: 0.4rem solid $highlight;
		border-top-right-radius: 0.6rem;
		border-bottom-right-radius: 0.6rem;
		background: $background_variant;

		margin-inline-start: 1rem;
		margin-inline-end: 1rem;

		> p:first-child {
			margin: 0;
		}
	}

	.pic {
		padding: 1rem 0;

		> img:first-child {
			display: block; // fix 底部间隙
			min-width: 30%;
			max-width: 100%;
			border-radius: 0.6rem;
		}
	}
}
