.markdown_wrapper {
	p,
	ul > li,
	ol > li {
		line-height: 2em;
	}

	a {
		color: get_theme('primary');

		&:hover {
			text-decoration: underline;
		}
	}

	.code_wrapper {
		display: block;
		overflow-x: auto;
		padding: 1rem;
		border-radius: 0.6rem;
		background: $background_variant;

		code {
			font-size: 1.3rem;
			font-family: 'Roboto Mono';
			line-height: 1.75em;
		}
	}

	.pic {
		display: flex;
		justify-content: center;
		width: 100%;

		> img {
			max-width: 80%;
			max-height: 500px;
		}
	}
}
