.account {
	@include use_themes('.username_wrapper') {
		display: flex;
		align-items: center;

		> span {
			margin-right: 2rem;
		}

		> button {
			border: 1px solid $highlight;
			background: #fff;
			color: $highlight;
		}
	}

	> li {
		&.profile {
			padding: 1rem 2rem;
			height: 8rem;
		}
	}

	.avatar_wrapper {
		display: flex;
		align-items: center;

		> img {
			margin-right: 1rem;
			width: 5rem;
			height: 5rem;
			border-radius: 50%;
			vertical-align: text-top;

			object-fit: cover;
		}
	}
}
