.banner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 1rem 4rem 1rem;
	padding: 0 2rem;
	height: 4rem;
	border-radius: 0.6rem;
	background: get_theme('warning');
	box-shadow: $large_shadow;
	color: get_color('light', 'background');

	> span {
		font-weight: bold;
	}

	> div {
		cursor: pointer;

		@include flex_center;

		> span {
			margin-right: 1rem;
			font-weight: bold;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
